@import "tailwindcss";


@keyframes moveDown {
  to {
    top: 2000px;
  }
}

.boulder-shodow {
  filter: drop-shadow(17px 10px 14px #00000066);
}

.rocket-shodow {
  filter: drop-shadow(3px 3px 2px #00000066);
}